#contact-btn {
  width: 88px;
  height: 88px;
  background: var(--c-secondary);
  color: var(--c-primary);
  border: none;
  border-radius: 1000px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

#contact-btn:hover {
  width: 100px;
  height: 100px;
}

#contact-btn .btn-bg {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--c-orange); /* bluish gradient */
  border-radius: 1000px;
  transition: transform 0.3s ease-out;
  z-index: 0;
}

#contact-btn .btn-text {
  position: relative;
  z-index: 2;
}

#contact-btn:hover .btn-bg {
  transform: translateY(-100%);
}
