.navbar {
  width: auto;
  height: calc(1.6 * 1.6);
  padding: 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  /* background-color: #535353; */
  /* border: 1px solid white; */
  z-index: 999;
}

.tools {
  display: flex;
}

.tool-container {
  /* background-color: red; */
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot-select {
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--c-secondary);
  border-radius: 999px;
  transform: translateY(-2rem);
  transition: ease-in-out 0.3s;
}

.tool-container p {
  margin: 20px;
  opacity: 0.3;
  transition: ease-in-out 0.3s;
}

.tool-container:hover p {
  opacity: 1;
  color: var(--c-orange);
  transform: translateY(0.4rem);
}

.tool-container:hover .dot-select {
  background-color: var(--c-orange);
  transform: translateY(1.2rem);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact p {
  margin: 20px 0;
  opacity: 0.3;
  transition: ease-in-out 0.3s;
}

.contact:hover p {
  opacity: 1;
  color: var(--c-orange);
  transform: translateY(0.4rem);
}

.contact:hover .dot-select {
  background-color: var(--c-orange);
  transform: translateY(1.2rem);
}

.link-hai-ye {
  text-decoration: none;
  color: var(--c-secondary);
}