#full-name {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.marquee-name {
  position: relative;
  white-space: nowrap;
  display: flex;
}

.marquee-name p {
  font-size: 200px;
  font-family: "Geist", sans-serif;
}

.marquee-name P:nth-of-type(2) {
  position: absolute;
  left: 100%;
}

.spacer {
  margin: 0 100px;
}

/* .first-name {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: green;
}

.first-name p {
  font-size: 120px;
  margin-left: -10px;
}

.second-name {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#sn-o {
  width: 30%;
  height: auto;
}

#sn-o ul {
  list-style: none;

  li {
    margin: 20px 0;
  }
}

#sn-t {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

#sn-t p {
  margin-top: -70px;
  font-size: 160px;
  font-weight: 900;
  margin-right: -10px;
}

#username4 {
  opacity: 0.25;
}

#username3 {
  opacity: 0.5;
}

#username2 {
  opacity: 0.75;
}

.dust-letter {
  display: inline-block;
  transition: all 0.3s ease;
  will-change: transform, opacity;
  color: white
} */
